<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeAnalysis.Analyzers" version="3.11.0" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="4.14.0" />
  <package id="Microsoft.CodeAnalysis.Common" version="4.14.0" />
  <package id="Mono.Cecil" version="0.11.6" manuallyInstalled="true" />
  <package id="System.Collections.Immutable" version="9.0.9" />
  <package id="System.Reflection.Metadata" version="9.0.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
  <package id="System.Text.Encoding.CodePages" version="7.0.0" />
  <package id="T.Molodoy.SharpExtensions" version="0.0.29" manuallyInstalled="true" />
  <package id="T.Molodoy.StableCollections" version="0.0.32" manuallyInstalled="true" />
  <package id="T.Molodoy.UnityCompose.CodeGen" version="0.0.158" manuallyInstalled="true" />
</packages>